extends layout

block content
  .container
    .jumbotron
      h1 Account Manager
      br
      br
      if accounts
        #accordion
          each account, index in accounts
            if (index == 0)
              .card
                .card-header(id=account.username + 'heading')
                  h5.mb-0
                    button.btn.btn-link(data-toggle='collapse', data-target='#'+account.username+'collapse', aria-expanded='true', aria-controls=account.username+'collapse') #{account.firstName} #{account.lastName}

                .collapse.show(id=account.username + 'collapse', aria-labelledby=account.username+'heading', data-parent='#accordion')
                  .card-body
                    h6 Username: #{account.username}
                    h6
                      a(href='passwordreset/' + account._id) Reset Password...
                    h6 Account Characters
                    ul
                      if account.roles && account.roles.length > 0 && account.roles[0] !== null
                        each character in account.roles
                          li
                            a(href='/directory/character' + character._id) #{character.name}
                      li 
                        a(href='charactermanager/' + account._id) Manage account characters...

            else
              .card
                .card-header(id=account.username + 'heading')
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#'+account.username+'collapse', aria-expanded='false', aria-controls=account.username+'collapse') #{account.firstName} #{account.lastName}

                .collapse(id=account.username + 'collapse', aria-labelledby=account.username+'heading', data-parent='#accordion')
                  .card-body
                    h6 Username: #{account.username}
                    h6
                      a(href='passwordreset/' + account._id) Reset Password...
                    h6 Account Characters
                    ul
                      each character in account.roles
                        li
                          a(href='/directory/character' + character._id) #{character.name}
                      li 
                        a(href='charactermanager/' + account._id) Manage account characters...
