extends layout

block content
  div.col-8.box-style
    div
      h1 #{character.name}
      br
      a(href='/directory/charactereditor' + character._id)
        button.btn.btn-primary(type='button') Edit
      h4 Occupation: #{character.occupation}
      br
      h4 Species: #{character.species}
      br
      if (character.homesystem)
        h4 Home System: <a href=character.homesystem._id> #{character.homesystem.name}</a>
      br
      if (character.contact)
        if (character.contact.characterType = 'proxy')
          h4 Proxy: <a href=character.contact._id> #{character.contact.name} </a>
          br
        if (character.contact.characterType = 'patron')
          h4 Patron: <a href=character.contact._id> #{character.contact.name} </a>
          br
      h4 Backstory
      p #{character.backstory}
      if (character.characterType = 'proxy')
        h4 Motives
        p #{character.motives}
        h4 Skills and Knowledge
        ul
          each skill in character.skills
            li skill
        h4 Special Abilities
        ul
          each ability in character.special
            li ability
