extends layout

block scripts
  script(type='text/javascript', src='/javascripts/characterscript.js')

block content
  .container
    .jumbotron
      h1 Create a Character
      br
      form(role='form', action="/directory/createcharacter", method="post", style='max-width: 500px; text-align: left;')
        .form-group
          
          h4 Name
          input.form-control(type='text', name="name", placeholder='Enter Your Character\'s Name')        
          br

          h4 Character Type
          select.form-control(name='charactertype', id='charactertype')
            option(selected='selected', disabled='disabled') Select Character Type...
            if user.usertype == 'controller'
              option(value='patron') Patron
            option(value='proxy') Proxy
            option(value='wildcard') Wildcard
          br

          #patroncontact(style = 'display: none;')
            h4 Patron
            select.form-control(name='patroncontact')
              option(selected='selected', disabled='disabled') Select the patron of your proxy...
              if patrons
                for patron in patrons
                  option(value=patron._id) #{patron.name}
              else
                option(disabled='disabled') There are no patrons
            br

          #proxycontact(style = 'display: none;')
            h4 Proxy
            select.form-control(name='proxycontact')
              option(selected='selected', disabled='disabled') Select the proxy of your patron...
              if proxies
                for proxy in proxies
                  option(value=proxy._id) #{proxy.name}
              else
               option(disabled='disabled') There are no proxies
            br

          h4 Occupation
          select.form-control(name='occupation')
            option(selected='selected') Select an occupation...
            option(value='Accountant') Accountant
            option(value='Addict') Addict
            option(value='Assassin') Assassin
            option(value='Banker') Banker
            option(value='Bounty Hunter') Bounty Hunter
            option(value='Business') Business
            option(value='Cartographer') Cartographer
            option(value='Cultist') Cultist
            option(value='Engineer') Engineer
            option(value='Farmer') Farmer
            option(value='Force User') Force User
            option(value='Government') Government
            option(value='Historian') Historian
            option(value='Medicine') Medicine
            option(value='Mercenary') Mercenary
            option(value='Merchant') Merchant
            option(value='Military') Military
            option(value='Pilot') Pilot
            option(value='Scientist') Scientist
            option(value='Slicer') Slicer
            option(value='Soothsayer') Soothsayer
            option(value='Spy') Spy
            option(value='Thief') Thief
            option(value='Thug') Thug
          br

          h4 Species
          input.form-control(type='text', name="species", placeholder='Character\'s Species')
          br

          h4 Species Quirks
          input.form-control(type='text', name='quirks', placeholder='Quirks of species or the character')
          br

          h4 System/Faction
          .patron
            select.form-control(name='system')
              option(selected='selected', disabled='disabled') Where is your character from
              if systems
                each system in systems  
                  option(value=system.name) #{system.name}
              else
                option(disabled='disabled') There are no systems
          .wildcard(style = 'display: none;')
            input.form-control(type='text', name='system', placeholder='Character\'s Home System')
          br

          h4 Backstory
          textarea.form-control(name='backstory', rows='15', placeholder='Enter information about the character that everyone knows.', style='resize: none')
          br
          .proxyform
            h4 Motive
            
            h5 Short Term
            textarea.form-control(name='shortterm', rows='3', placeholder='Character short term objective...', style='resize: none;')
            br
            
            h5 Long Term
            textarea.form-control(name='longterm', rows='3', placeholder='Character long term objective...', style='resize: none;')
            br

            h4 Skills and Knowledge
            #skill-container
              textarea.form-control(name='skills', rows='3', placeholder='Character\'s skills and knowledge...', style='resize: none')
              br
            button.btn.btn-danger#removeskill(type='button') Remove Last
            |&nbsp
            button.btn.btn-primary#addskill(type='button') Add New Skill or Knowledge
            br

            #ability-container
              h4 Special Abilities and Objects 
              textarea.form-control(name='special', rows='3', placeholder='Character\'s abilities and objects...', style='resize: none')
              br
            button.btn.btn-danger#removeability(type='button') Remove Last
            |&nbsp
            button.btn.btn-primary#addability(type='button') Additional Ability or Object
        br
        br
        button.btn.btn-default(type='submit') Submit
        |&nbsp
        a(href='/directory')
          button.btn.btn-primary(type="button") Cancel