extends layout

block content
  .container
    .jumbotron
      h1 #{character.name}
        if user && user.usertype == 'controller'
          |&nbsp
          |&nbsp
          |&nbsp
          a(href='/directory/charactereditor' + character._id)
            button.btn.btn-primary(type='button') Edit
      br
      h4 Occupation: #{character.occupation}
      br
      if Species
        h4 Species: #{character.species}
        br
      if (character.quirks)
        h4 Species Quirks
        p #{character.quirks}
      br
      if (character.homesystem)
        h4 Home System: <a href=#{character.homesystem}> #{character.homesystem}</a>
        br
      if (character.contact)
        if (character.contact.characterType == 'proxy')
          h4 Proxy: <a href='character#{character.contact._id}'> #{character.contact.name} </a>
          br
        if (character.contact.characterType == 'patron')
          h4 Patron: <a href='character#{character.contact._id}'> #{character.contact.name} </a>
          br
      h4 Backstory
      -var backstory = character.backstory.replace(/[\r\n]/g, '<br/>');
      p.lead !{backstory}
      if (user && user.roles && user.roles.length > 0 && user.roles[0] !== null)
        if (user.usertype == 'controller' || user.roles[0].name == character.name)
          if (character.characterType == 'proxy' || character.characterType == 'wildcard') 
            h4 Motives
            h5 Short Term Objective
            p #{character.shortterm}
            br
            h5 Long Term Objective
            p #{character.longterm}
            br
            h4 Skills and Knowledge
            ul
              each skill in character.skills
                li #{skill}
            br
            h4 Special Abilities
            ul
              each ability in character.special
                li #{ability}
