extends layout

block scripts
  script(type='text/javascript', src='/javascripts/characterscript.js')

block content
  div.col-8.box-style
    div
      h1 Edit #{character.name}
    br
    div
      form(role='form', action="/directory/editcharacter" + character._id, method="post", style='max-width: 500px; text-align: left;')
        .form-group
          
          h4 Name
          input.form-control(type='text', name="name", placeholder='Enter Your Character\'s Name', value=character.name)        
          br

          -var charactertypelist = ['Patron', 'Proxy', 'Wildcard']

          h4 Character Type
          if character.characterType
            select.form-control(name='charactertype', id='charactertype', value=character.characterType)
              option(disabled='disabled') Select Character Type...
              for type in charactertypelist
                if character.characterType == type.toLowerCase()
                  option(value=type.toLowerCase(), selected='selected') #{type}
                else
                  option(value=type.toLowerCase()) #{type}
          else
            select.form-control(name='charactertype', id='charactertype')
              option(disabled='disabled', selected='selected') Select Character Type...
              for type in charactertypelist
                option(value=type.toLowerCase()) #{type}
          br

          #patroncontact(style = 'display: none;')
            h4 Patron
            if (character.contact && character.contact.characterType == 'patron')
              select.form-control(name='patroncontact', value=character.contact._id)
                option(disabled='disabled') Select the patron of your proxy...
                for patron in patrons
                  option(value=patron._id) #{patron.name}
            else
              select.form-control(name='patroncontact')
                option(selected='selected', disabled='disabled') Select the patron of your proxy...
                for patron in patrons
                  option(value=patron._id) #{patron.name}
            br

          #proxycontact(style = 'display: none;')
            h4 Proxy
            if (character.contact && character.contact.characterType == 'proxy')
              select.form-control(name='proxycontact')
                option(disabled='disabled') Select the proxy of your patron...
                for proxy in proxies
                  option(value=proxy._id) #{proxy.name}
            else
              select.form-control(name='proxycontact')
                option(selected='selected', disabled='disabled') Select the proxy of your patron...
                for proxy in proxies
                  option(value=proxy._id) #{proxy.name}
            br
          
          - var occupationList = ['Accountant', 'Addict', 'Assassin', 'Banker', 'Bounty Hunter', 'Business', 'Cartographer', 'Cultist', 'Engineer', 'Farmer', 'Force User', 'Government', 'Historian', 'Medicine', 'Mercenary', 'Merchant', 'Military', 'Pilot', 'Scientist', 'Slicer', 'Soothsayer', 'Spy', 'Thief', 'Thug']

          h4 Occupation
          if character.occupation
            select.form-control(name='occupation', value=character.occupation)
              option(disabled='disabled') Select an occupation...
              for occupation in occupationList
                if occupation == character.occupation
                  option(value=occupation, selected='selected') #{occupation}
                else
                  option(value=occupation) #{occupation}
          else
            select.form-control(name='occupation')
              option(selected='selected', disabled='disabled') Select an occupation...
              for occupation in occupationList
                option(value=occupation) #{occupation}
          br

          h4 Species
          if character.species
            input.form-control(type='text', name="species", placeholder='Character\'s Species', value=character.species)
          else
            input.form-control(type='text', name="species", placeholder='Character\'s Species')
          br

          h4 Species Quirks
          if character.quirks
            input.form-control(type='text', name="quirks", placeholder='Quirks of species or the character', value=character.quirks)
          else
            input.form-control(type='text', name="quirks", placeholder='Quirks of species or the character')
          br

          mixin systemlist(systems)
              each system in systems
                option(value=system.name) #{system.name}

          h4 System/Faction
          if character.homesystem
            if character.characterType == 'patron' || character.characterType == 'proxy'
              select.form-control(name='system', value='character.homesystem')
                option(disabled='disabled') Where is your character from
                if systems
                  +systemlist(systems)
                else
                  option(disabled='disabled', selected='selected') There are no systems

              input.form-control(type='text', name='system', placeholder='Character\'s home system', style='display : none;')

            else
              select.form-control(name='system', style='display : none')
                option(selected='selected', disabled='disabled') Where is your character from
                if systems
                  +systemlist(systems)
                else
                  option(disabled='disabled', selected='selected') There are no systems
              
              input.form-control(type='text', name='system', placeholder='Character\'s home system' value=character.homesystem)
          br

          h4 Backstory
          if character.backstory
            textarea.form-control(name='backstory', rows='15', placeholder='Character backstory', style='resize: none') #{character.backstory}
          else
            textarea.form-control(name='backstory', rows='15', placeholder='Character backstory', style='resize: none')
          br
          .proxyform
            h4 Motive
            br
            h5 Short Term
            if character.shortterm
              textarea.form-control(name='shortterm', rows='3', placeholder='Character short term objective...', style='resize: none;') #{character.shortterm}
            else
              textarea.form-control(name='shortterm', rows='3', placeholder='Character short term objective...', style='resize: none;')
            br
            
            h5 Long Term
            if character.longterm
              textarea.form-control(name='longterm', rows='3', placeholder='Character long term objective...', style='resize: none;') #{character.longterm}
            else
              textarea.form-control(name='longterm', rows='3', placeholder='Character long term objective...', style='resize: none;')
            br

            h4 Skills and Knowledge
            #skill-container
              if character.skills
                for skill in character.skills
                  .skill
                    textarea.form-control(name='skills', rows='3', placeholder='Character\'s skills and knowledge...', style='resize: none') #{skill}
              else
                textarea.form-control(name='skills', rows='3', placeholder='Character\'s skills and knowledge...', style='resize: none')
              br
            button.btn.btn-danger#removeskill(type='button') Remove Last
            |&nbsp
            button.btn.btn-primary#addskill(type='button') Add New Skill or Knowledge
            br

            #ability-container
              h4 Special Abilities and Objects
              if character.special
                for special in character.special
                  .ability
                    textarea.form-control(name='special', rows='3', placeholder='Character\'s abilities and objects...', style='resize: none') #{special}
              else
                textarea.form-control(name='special', rows='3', placeholder='Character\'s abilities and objects...', style='resize: none')
              br
            button.btn.btn-danger#removeability(type='button') Remove Last
            |&nbsp
            button.btn.btn-primary#addability(type='button') Additional Ability or Object
        br
        br
        button.btn.btn-default(type='submit') Submit
        |&nbsp
        a(href='/')
          button.btn.btn-primary(type="button") Cancel