extends layout

block scripts
  script(src='/socket.io/socket.io.js')
  script
    include ../public/javascripts/messengerscript.js

block content
  .container#chat(value=chat._id)
    .jumbotron
      .d-flex.justify-content-center
        -var creatorid = chat.creator._id.toString()
        -var recipientid = chat.recipient._id.toString()
        -var characterid = character._id.toString()
        .card.w-50
          .card-header
            if characterid == creatorid
              h3#author(value=chat.creator.id) Chat with #{chat.recipient.name}
            else if characterid == recipientid
              h3#author(value=chat.recipient.id) Chat with #{chat.creator.name}
          .card-body
            .container#messages(style='height: 500px; overflow-y: auto;')

          .card-footer
            form.form-inline
              input.form-control#txtMessage(style='width:80%; resize: none')
              |&nbsp
              button.btn.btn-primary#send 
                |Send
                br
                |Message

