extends layout

block content
  .container
    .row.justify-content-center
      img(src='/images/CatoniaNewsNetwork.png' alt='Catonia News Network')
    br
    if user
      if user.usertype == 'controller'
        .row.justify-content-center
          a(href='/cnn/newarticle')
            button.btn.btn-warning(type='button') New Story
      else if user.roles && user.roles.length !== 0 & user.roles[0] !== null
        if (user.usertype == 'participant' && user.roles[0].system == 'cnn')
          .row.justify-content-center
            a(href='/cnn/newarticle')
              button.btn.btn-warnning(type='button') New Story
    br
    .row.justify-content-center
      if articles
        each article, index in articles
          if index == 0
            .card.m-1(style='width: 100%;')
              .card-body
                h3.card-title #{article.title}
                if article.author
                  h6.card-subtitle.mb-2.text-muted By #{article.author.name}
                p.card-text #{article.brief}...
                a.card-link(href='/cnn/article'+article._id) Read More
              .card-footer
                small.text-muted #{moment(article.createdAt).fromNow()}
          else
            .card.m-1(style='width: 49%;')
              .card-body
                h3.card-title #{article.title}
                if article.author
                  h6.card-subtitle.mb-2.text-muted By #{article.author.name}
                p.card-text #{article.brief}...
                a.card-link(href='/cnn/article'+article._id) Read More
              .card-footer
                small.text-muted #{moment(article.createdAt).fromNow()}




