doctype html
html
  head
    title= 'Cantonica Conference'
    
    meta(charset='utf-8')
    
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      nav.navbar.navbar-expand-xl.fixed-top.navbar-light.bg-light
        a.navbar-brand(href='/') Cantonica Conference of Outer World Systems
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsable-navbar', aria-controls='collapsable-navbar', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        div.collapse.navbar-collapse#collapsable-navbar
          ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            if (user && user.usertype == 'controller')
              li.nav-item
                a.nav-link(href='/cnn') CNN
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle#directorydropdown(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Directory
                .dropdown-menu(aria-labelledby='directorydropdown')
                  a.dropdown-item(href='/directory') Directory
                  a.dropdown-item(href='/directory') Systems
                  a.dropdown-item(href='/directory/characters') Conference Attendees
                  .dropdown-divider
                  a.dropdown-item(href='/directory/systemcreator') System Creator
                  a.dropdown-item(href='/directory/charactercreator') Character Creator
                  if (user.roles && user.roles.length > 0 && user.roles[0] !== null)
                    .dropdown-divider
                    each character in user.roles
                      a.dropdown-item(href='/character/' + character._id) #{character.name}                
              li.nav-item
                a.nav-link(href='/accountmanager') Account Management

            else if (user && user.usertype == 'participant')
              li.nav-item
                a.nav-link(href='/cnn') CNN
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle#directorydropdown(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Directory
                .dropdown-menu(aria-labelledby='directorydropdown')
                  a.dropdown-item(href='/directory') Directory
                  a.dropdown-item(href='/directory') Systems
                  a.dropdown-item(href='/directory/characters') Conference Attendees
                  if (user.roles && user.roles.length > 0 && user.roles[0] !== null)
                    .dropdown-divider
                    each character in user.roles
                      a.dropdown-item(href='/character' + character._id) #{character.name}

            else
              li.nav-item
                a.nav-link(href='/cnn') CNN
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle#directorydropdown(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Directory
                .dropdown-menu(aria-labelledby='directorydropdown')
                  a.dropdown-item(href='/directory') Directory
                  a.dropdown-item(href='/directory') Systems
                  a.dropdown-item(href='/directory/characters') Conference Attendees

          ul.nav.navbar-nav.navbar-right
            if (!user)
              li.nav-item
                a.nav-link(href='/login') Login
              li.nav-item
                a.nav-link(href='/register') Register
            if (user)
              li.nav-item
                a.nav-link Welcome #{user.firstName}
              li.nav-item
                a.nav-link(href='/profile') Your Profile
              li.nav-item
                a.nav-link(href='/logout') Logout

    block content

  script(src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")

  block scripts
  