extends layout

block content
  div.col-10.box-style
    div
      h1 Create a System or Faction
    br

    div
      form(role='form', action="/directory/editsystem" + system._id, method="post", style='max-width: 300px; text-align: left;')
        .form-group
          
          h4 Name
          input.form-control(type='text', name='name', placeholder='Enter the name of the system or faction.', value=system.name)
          
          h4 Overview
          textarea(name='overview', cols='50', rows='20', placeholder='General overview of the system or faction...', style='resize : none;') #{system.overview}
          
          h4 Historical Background
          textarea(name='history', cols='50', rows='20', placeholder='Describe the history of the system or faction...', style='resize : none;') #{system.history}
        
        .form-group
          
          h4 Patrons
          
          select.form-control(name='patrons', multiple)
            if system.patrons && system.patrons.length !== 0 && system.patrons[0] !== null
              option(disabled='disabled') Select Patrons for this system...
              if patrons
                  each patron in patrons
                    if system.patrons.indexOf(patron._id) >= 0
                      option(value=patron._id, selected='selected') #{patron.name}
                    else
                      option(value=patron._id) #{patron.name}
              else
                option(disabled='disabled') There are no patrons
              br
            else
              option(selected='selected', disabled='disabled') Select Patrons for this system...
              if patrons
                each patron in patrons
                  option(value=patron._id) #{patron.name}
              else
                option(disabled='disabled') There are no patrons
            br
          
          h4 Proxies: Use Ctrl + click to select/deselect

          select.form-control(name='proxies', multiple)
            if system.proxies && system.proxies.length !== 0 && system.proxies[0] !== null
              option(disabled='disabled') Select Proxies for this system...
              if proxies
                each proxy in proxies
                  -index = system.proxies.indexOf(proxy._id)
                  if system.proxies.indexOf(proxy._id) >= 0
                    p #{index}
                    option(value=proxy._id, selected='selected') #{proxy.name}
                  else
                    p #{index}
                    option(value=proxy._id) #{proxy.name}
              else
                option(disabled='disabled') There are no proxies
              br

            else
              option(selected='selected', disabled='disabled') Select Proxies for this system...
              if proxies
                each proxy in proxies
                  option(value=proxy._id) #{proxy.name}
              else
                option(disabled='disabled') There are no proxies
              br
          
          button.btn.btn-default(type='submit') Submit
          |&nbsp
          a(href='/')
            button.btn.btn-primary(type="button") Cancel